/ = high_chart_globals(@chart_globals)

= high_chart("some_id", @graph_data)
hr
= high_chart("some_id_2", @integral_graph)

hr
= high_chart("some_id_3", @second_integral_graph)

/ h2.subheader
/   | Example 1
/   i.fa.fa-bookmark
/ #container1