br
.row
  = link_to 'FFT', fourier_graph_path(@graph), class: 'button'
= high_chart("some_id", @graph_data)
hr
= high_chart("some_id_2", @integral_graph)

hr
= high_chart("some_id_3", @second_integral_graph)
